<VirtualHost *:80>
    ServerName flure.com
    ServerAlias www.flure.com
    DocumentRoot "/opt/bitnami/wordpress"

    <Directory "/opt/bitnami/wordpress">
        AllowOverride All
        Require all granted
    </Directory>

    Alias {{ wp_alias_path }} "/opt/bitnami/wordpress/"

    <Directory "/opt/bitnami/wordpress">
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog "logs/wordpress-error_log"
    CustomLog "logs/wordpress-access_log" common
</VirtualHost>
